@charset "UTF-8";

/* Roboto */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Quicksand */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

/* Coming Soon */
@import url('https://fonts.googleapis.com/css2?family=Coming+Soon&family=Quicksand:wght@300..700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    transition: .2s linear;
}

:root {
    --main: #FFB84D ;
    --fundo: #f1e1d2;
    --preto: #000;
    --branco: #fff;
    --laranja_claro: #FFCE4D;
    --verde: #D1CB1F;
    --verde_claro: #C9FF4D;
    --sombra: 0 .5rem 1rem rgba(0, 0, 0, 0.1);

}

html {
    font-size: 10px;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 4rem;
}

html::-webkit-scrollbar {
    width: 1rem;
}

html::-webkit-scrollbar-track{
    background: transparent;
}

html::-webkit-scrollbar-thumb {
    background: var(--main);
    border-radius: 5rem;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: var(--branco);
    box-shadow: var(--sombra);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 9%;
}

.header  .navbar a {
    font-size: 1.7rem;
    color: var(--preto);
    margin: 0 1rem;
    cursor: pointer;
    font-family: "Quicksand", sans-serif;
}

.header .navbar a:hover {
    /* text-decoration: underline; */
    color: var(--laranja_claro);
}

.header .icons div {
    font-size: 2.5rem;
    margin-left: 1.7rem;
    cursor: pointer;
    color: var(--preto);
}

.home {
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.home .wave{
    position: absolute;
    bottom: 0; 
    left: 0;
    width: 100%;
    height: 12rem;
}

section.about{
    display: flex;
    padding: 10rem 30rem 10rem 10rem;
}

section.about h1 {
    font-size: 5rem;
    margin-bottom: 30px;
    font-family: "Quicksand", sans-serif;
}

section.about .deco-title {
    color: var(--main);
}

article.content p {
    font-size: 1.6rem;
    line-height: 3rem;
    font-family: "Open Sans", sans-serif;
    text-indent: 1rem;
    padding: 20px;
}

#animal {
    background: url(/img/fundo_animais.png);
    background-repeat: no-repeat;
    background-size: bottom right;
    padding: 10rem 10rem;
}

#animal .title_ave {
    text-align: center;
    padding-bottom: 4rem;
    font-size: 5rem;
    font-family: "Quicksand", sans-serif;
    font-weight: 900;
}

#animal .box-container{
    display: flex; /* Usa Flexbox para alinhar os itens horizontalmente */
    justify-content: center; /* Centraliza os itens dentro do contêiner */
    align-items: stretch; /* Faz com que todas as caixas tenham a mesma altura */
    gap: 10rem; 
    
}

.box {
    display: flex;
    flex-direction: column; /* Organiza o conteúdo verticalmente */
    justify-content: center; /* Centraliza o conteúdo verticalmente */
    align-items: center; /* Centraliza o conteúdo horizontalmente */
    margin: 0; /* Remove margens */
    background-color: var(--branco);
    width: 400px;
    padding: 46px;
    border-radius: 5%;
    box-shadow: 13px 9px 14px 0px #00000059;

}

.box:hover {
    transform: translateY(-10px) scale(1.05); 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}


.box img {
   border-radius: 50%;
   margin-bottom: 3rem;
  }

.box .title_animal{
   font-size: 2rem;
   text-align: center;
   margin-bottom: 2rem;
}

.box ul  {
    font-size: 1.5rem;
  }




