@charset "UTF-8";

/* Roboto */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Quicksand */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

/* Coming Soon */
@import url('https://fonts.googleapis.com/css2?family=Coming+Soon&family=Quicksand:wght@300..700&display=swap');

@import url('https://fonts.cdnfonts.com/css/hansief');

* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    transition: .2s linear;
}

:root {
    --main: #FFB84D ;
    --fundo: #f1e1d2;
    --preto: #000;
    --branco: #fff;
    --laranja_claro: #FFCE4D;
    --verde: #D1CB1F;
    --verde_claro: #C9FF4D;
    --sombra: 0 .5rem 1rem rgba(0, 0, 0, 0.1);

}

html {
    font-size: 10px;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 4rem;
}

html::-webkit-scrollbar {
    width: 1rem;
}

html::-webkit-scrollbar-track{
    background: transparent;
}

html::-webkit-scrollbar-thumb {
    background: var(--main);
    border-radius: 5rem;
}


/* BARRA DE NAVEGAÇÃO */

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: var(--branco);
    box-shadow: var(--sombra);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 9%;
}

.header  .navbar a {
    font-size: 1.7rem;
    color: var(--preto);
    margin: 0 1rem;
    cursor: pointer;
    font-family: "Quicksand", sans-serif;
}

.header .navbar a:hover {
    color: var(--laranja_claro);
}

/* HOME  */

.home{
    min-height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    background: url(../img/capa.png) no-repeat;
    background-size: cover;
}

.home .wave{
    position: absolute;
    bottom: 0; 
    left: 0;
    width: 100vw;
    height: 12rem;
}


/* SOBRE NÓS */

.about {
    width: 100%;
    padding: 20px;
}

.about .box-container {
    display: grid;
    width: 100vw;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "conteudo imagem";
    margin-bottom: 5rem;
}

.box-container .content {
    grid-area: conteudo;
}

.box-container img {
    grid-area: imagem;
    justify-self: center;
    align-self: center; 
    border-radius: 15px;
}

 .deco-title {
    font-size: 8rem;
    font-weight: 700;
    white-space: nowrap;
    line-height: 0.5;
    color: transparent;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px var(--main);
    float: left;
    margin-top: 130px;
    margin-left: 10rem;
    margin-bottom: 10rem;
    width: 100%;
}

.box-container .content p {
    font-size: 1.5rem;
    color: #444;
    line-height: 2;
    text-indent: 10px;
    text-align: justify;
    margin-left: 8rem;
}
 p.destaque {
    background-color: var(--main);
    margin-top: 5rem;
    border-radius: 15px;
    padding: 10px;
    font-weight: bold;
}

/* Tópicos */

section#topics {
    width: 100%;
    height: 100%;
    background-color: #f7d274;
    display: block;
    position: relative;
    padding: 50px;
}

section#topics .deco-title {
    -webkit-text-stroke: 1px #fff;
}

section#topics > article.content_topics {
    background-color: #fff;
    width: 50vw;
    margin: 0 auto;
    margin-bottom: 50px;


    display: grid;
    grid-template-areas: "conteudo img";
    grid-template-columns: 30vw 20vw;
}

article.content_topics {
    border-radius: 10px;
}

article.content_topics .content {
    grid-area: conteudo;
    padding: 20px;
    border-radius: 10px;
}

article.content_topics .content h3 {
    font-family: "Coming Soon", cursive;
    text-align: center;
    font-size: 3rem;
    margin-top: 5rem;
    margin-bottom: 2rem;
    color: var(--verde);
}

article.content_topics .content p {
    padding: 10px;
    font-size: 1.5rem;
    line-height: 2.5rem;
}

article.content_topics img {
    grid-area: img;
    width: 100%;
    height: 100%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;

}

/* MAPAS */

section#mapa {
    width: 100%;
    height: 200vh;
    background-color: var(--fundo);
}

article#mapas{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    padding: 50px;
}

section#mapa h1 {
    font-size: 8rem;
    font-weight: 700;
    white-space: nowrap;
    line-height: 0.5;
    color: var(--main);
    float: left;
    margin-top: 130px;
    margin-left: 10rem;
    margin-bottom: 10rem;
    width: 100%;
}

/* MAPA DO ZOOLÓGICO */

 article#mapas #mapazoo {
    position: relative;
    display: grid;
    grid-template-areas: "zooimg conteudo";
    grid-template-columns: 1fr 1fr;
    width: 65vw;
    height: 50vh;
    background-color: #fff;
    margin-bottom: 5rem;
    border-radius: 10px;
}

article#mapas #mapazoo img {
    grid-area: zooimg;
    height: 100%;
    width: 100%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

#conteudo {
    grid-area: conteudo;
    display: flex;
    flex-direction: column;
    align-items: center;
}


#conteudo h2 {
    grid-area: zootitle;
    font-size: 2.5rem;
    font-family: "Coming Soon", cursive;
    padding: 3rem 3rem 10px 3rem;
    text-align: center;
}


#conteudo p {
    grid-area: zootexto;
    font-size: 1.5rem;
    padding: 0px 3rem 5px 3rem;
    line-height: 3rem;
    text-align: justify;
    text-indent: 1rem;
}

#conteudo a {
    background-color: var(--main);
    color: var(--preto);
    padding: 10px;
    width: 200px;
    border-radius: 3rem;
    text-align: center;
    font-size: 2rem;  
}


/* MAPA ESTACIONAMENTO */

article#mapas #mapapark {
    display: grid;
    grid-template-areas: "conteudo parkimg";
    grid-template-columns: 1fr 1fr;
    width: 65vw;
    height: 60vh;
    background-color: #fff;
    border-radius: 10px;
}

article#mapas #mapapark > img {
    grid-area: parkimg;
    height: 100%;
    width: 100%;
    background-size: contain;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

#mapapark #conteudo {
    grid-area: "conteudo";
}

 #mapapark #conteudo p {
    grid-area: texto;
    font-size: 1.5rem;
    padding: 3rem;
    line-height: 2.5rem;
    text-align: justify;
}


/* FOOTER */
  
.footer{
    background: url(../img/footer.jpg) no-repeat;
    background-size: cover;
    padding: 3rem 7%;
  }
  
  .footer .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 1.5rem;
  }
  
  .footer .box-container .box h3{
    font-size: 2.5rem;
    color: var(--main);
    padding: 1rem 0;
  }
  
  .footer .box-container .box p{
    font-size: 1.5rem;
    line-height: 1.8;
    color: var(--branco);
    padding: 1rem 0;
  }

  .box .btn {
    background-color: var(--main);
    padding: 10px 20px 10px 20px;
    border-radius: 30px;
    font-size: 2rem;
    color: var(--branco);
    margin-bottom: 1rem;
    margin-right: 2rem;
    float: right;
  }
  
  .footer .box-container .box .links{
    display: block;
    font-size: 1.5rem;
    color: var(--branco);
    padding: 1rem 0;
  }
  
  .footer .box-container .box .links i{
    color: var(--main);
    padding-right: .5rem;
  }
  
  .footer .box-container .box .links:hover i{
    padding-right: 2rem;
  }
  
  .footer .box-container .box .days{
    margin-left: 2.2rem;
    line-height: .2;
  }
  
  .footer .box-container .box .email{
    width: 100%;
    margin: 2.7rem 0px;
    padding: 1rem;
    border-radius: .5rem;
    background: var(--branco);
    font-size: 1.6rem;
    color: var(--black);
    text-transform: none;
  }
  
  .footer .box-container .box .share a{
    height: 3rem;
    width: 3rem;
    line-height: 3rem;
    color: var(--preto);
    background: var(--branco);
    font-size: 1.2rem;
    border-radius: 5rem;
    margin-right: .8rem;
    text-align: center;
    margin-top: 1.4rem;
  }
  
  .footer .box-container .box .share a:hover{
    background: var(--main);
  }
  
  .footer .credit{
    font-size: 2rem;
    text-align: center;
    margin-top: 2rem;
    padding-top: 2.5rem;
    color: var(--branco);
    border-top: .2rem solid rgba(0, 0, 0, 0.2);
  }
  
  .footer .credit .link{
    color: var(--main);
  }





