@charset "UTF-8";

/* Roboto */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Quicksand */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

/* Coming Soon */
@import url('https://fonts.googleapis.com/css2?family=Coming+Soon&family=Quicksand:wght@300..700&display=swap');

@import url('https://fonts.cdnfonts.com/css/hansief');

* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    transition: .2s linear;
}

:root {
    --main: #FFB84D ;
    --fundo: #f1e1d2;
    --preto: #000;
    --branco: #fff;
    --laranja_claro: #FFCE4D;
    --verde: #D1CB1F;
    --verde_claro: #C9FF4D;
    --sombra: 0 .5rem 1rem rgba(0, 0, 0, 0.1);

}

html {
    font-size: 10px;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 4rem;
}

html::-webkit-scrollbar {
    width: 1rem;
}

html::-webkit-scrollbar-track{
    background: transparent;
}

html::-webkit-scrollbar-thumb {
    background: var(--main);
    border-radius: 5rem;
}

/* BARRA DE NAVEGAÇÃO */

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: var(--branco);
    box-shadow: var(--sombra);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 9%;
}

.header  .navbar a {
    font-size: 1.7rem;
    color: var(--preto);
    margin: 0 1rem;
    cursor: pointer;
    font-family: "Quicksand", sans-serif;
}

.header .navbar a:hover {
    /* text-decoration: underline; */
    color: var(--laranja_claro);
}

/* HOME  */

.home{
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url(../img/capa.png) no-repeat;
    background-size: cover;
    
    
}

.home .wave{
    position: absolute;
    bottom: 0; 
    left: 0;
    width: 100%;
    height: 12rem;
}


/* SOBRE NÓS */

.about {
  display: flex;
  justify-content: center; 
  align-items: center; 
  min-height: 85vh;
  margin-bottom: 15rem;
}

.about .box-container{
  text-align: center;
  display: grid;
  grid-template-columns: repeat(2, 10fr);
  gap: 10px;

}

.about .content {
   /* Controla a largura máxima do conteúdo */
  margin: 0 auto; /* Centraliza o conteúdo horizontalmente */
}


.about .content p {
  font-size: 1.5rem;
  color: #444;
  line-height: 2;
  text-indent: 10px;
  text-align: justify;
  margin-left: 142px;
  margin-right: 148px;
}


.about img {
  margin-top: 10rem;
}

.about ul {
  margin-top: 20px;
  margin-left: 10rem;
  list-style: none;
}

.about ul li {
  text-align: left;
  margin-top: 20px;
  margin-left: 10rem;
  font-size: 1.5rem;
  line-height: 2rem;
  font-family: "Roboto", sans-serif;
  display: flex;
  align-items: center; /* Alinha o ícone e o texto no centro verticalmente */
  margin-bottom: 15px; /* Espaço entre os itens */
  color: #333; /* Cor do texto */
  
}

ul li i {
  color: #4CAF50; /* Cor verde para os ícones */
  font-size: 24px; /* Tamanho dos ícones */
  margin-right: 10px; /* Espaçamento entre o ícone e o texto */
}

.about .deco-title{
  font-size: 8rem;
  font-weight: 700;
  white-space: nowrap;
  line-height: 0.5;
  color: transparent;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px var(--main);
  float: left;
  margin-top: 130px;
  margin-left: 10rem;
} 

.about .content .destaque {
  background-color: var(--main);
  text-align: center;
  width: 500px;
  box-shadow: 10px 10px 10px rgba(128, 126, 126, 0.192);
  margin: 0 auto; 
  margin-top: 50px;
  margin-bottom: 50px;

}

.about .content p.destaque {
  padding: 10px;
  border-radius: 5px;
  font-weight: bold;
}

.about .content .destaque2 {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 150px;
}

.about .content .title {
    font-size: 2.5rem;
    color: var(--verde);
    margin-top: 250px;
    margin-bottom: 50px;
    font-family: "Coming Soon", cursive;
    
}

.about .content a {
  color: rgb(236, 118, 137);
}

.about .content a:hover {
  background-color: pink;
  border-radius: 5px;
}



/* ANIMAIS */

 .animais {
  background: url(/img/fundo_animais.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 120vh;
}

.animais .box-container{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 3rem;
  padding: 5rem;
    
  }
  
  .animais .box-container .box{
    height: 100%;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
  }

  .heading {
    color: var(--main);
    font-size: 5rem;
    text-align: center;
    padding-top: 10rem;
    padding-bottom: 10rem;
    margin-bottom: 40px;
    font-family: "Coming Soon", cursive;
    background-color: #fff;
  }
  
  .animais .box-container .box img{
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  
  .animais .box-container .box:hover img{
    transform: scale(1.1);
  
  }

  
  .animais .box-container .box .content{
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0; right: 0;
    bottom: 30px;
    padding: 20px;
    z-index: 1;
    transition: 0.5s ease;
  }
  
  .animais .box-container .box:hover::after{
    content: '';
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    background: var(--preto);
    opacity: 0.5;
    transition: 0.5s ease;

  }
  
  .animais .box-container .box .content h3{
    text-align: center;
    font-size: 3rem;
    color: var(--branco);
    margin-bottom: 150px;
  }
  
  .animais .box-container .box:is(:hover, :focus-within) .content{
    transform: translateY(-20px);
  }
  
  .box .btn {
    background-color: var(--main);
    padding: 10px 20px 10px 20px;
    border-radius: 30px;
    font-size: 2rem;
    color: var(--branco);
    margin-bottom: 20px;
    float: right;
  }

  /* Localização */

  section.local {
    display: grid;
    grid-template-areas: "content table";
    grid-template-columns: 50% auto;
    grid-template-rows: 110% 70vh;
    gap: 5rem;
    width: 100vw;
    height: 150vh;
    padding: 15rem;
    background: url(/img/fundo_local.png);
    background-size: cover;
  }

  article.content {
    grid-area: content;
    padding: 3rem;
    border-radius: 10px;
    background-color: #fff;
  }

  article.content h1{
    font-size: 3rem;
    font-family: "Coming Soon", cursive;
    margin-bottom: 2rem;
    text-align: center;
  }


  article.content p {
    font-size: 1.5rem;
    width: 50rem;
    padding-top: 10px;
    padding-left: 20px;
  }

  article.content h2 {
    font-size: 2rem;
    padding: 10px;
    width: 100px;
    color: var(--verde);
  }

  article.content h3 {
    font-size: 2rem;
    padding: 10px;
    color: var(--verde);
  }

  article.content ul {
    list-style: none;
    font-size: 1.3rem;
    width: 30vw;
    padding-left: 20px;
    
  }
  article.content ul > li {
    
  }


  aside.table {
    grid-area: table;
    background-color: var(--branco);
    padding: 5rem;
    border-radius: 10px;
    height: 70vh;
    
  }

  aside.table h2 {
    font-size: 3rem;
    font-family: "Coming Soon", cursive;
    margin-bottom: 2rem;
  }

  aside.table h4 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }

  aside.table p {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }

  aside.table ul {
    list-style: none;
  }

  aside.table ul li {
    font-size: 1.5rem;
    padding-bottom: 2rem;
    border-bottom: 1px solid #2c2a2c;
    margin-top: 1rem;
  }

  aside.table ul span li {
    border: none;
  }
  
  aside.table ul li .on {
    float: right;
    margin-right: 3rem;
    margin-top: 1rem;
    color: #4CAF50;
    font-weight: bold;
  }

  aside.table ul li span {
    float: right;
    margin-right: 3rem;
    margin-top: 1rem;
    color: red;
    font-weight: bold;
  }

  aside.table ul li i {
    color: var(--main);
  }

  .contact{
    background: var(--verde_claro);
  }

  .contact .btn {
    background-color: var(--main);
    padding: 10px 20px 10px 20px;
    border-radius: 30px;
    font-size: 2rem;
    color: var(--branco);
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .headingContact {
    color: var(--main);
    font-size: 5rem;
    text-align: center;
    padding-top: 50px;
  }
  
  .contact form{
    padding: 2rem 10%;
    text-align: center;
  }
  
  .contact form .inputBox{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .contact form .inputBox input,
  .contact form textarea{
    font-size: 1.7rem;
    width: 49%;
    padding: 1rem 2rem;
    margin: 1rem 0;
    border-radius: .5rem;
    text-transform: none;
  }
  
  .contact form .inputBox input::placeholder,
  .contact form textarea::placeholder{
    text-transform: capitalize;
  }
  
  .contact form textarea{
    height: 15rem;
    resize: none;
    width: 100%;
  }
  
  /* end */
  
  /* footer */
  
  .footer{
    background: url(../img/footer.jpg) no-repeat;
    background-size: cover;
    padding: 3rem 7%;
  }
  
  .footer .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 1.5rem;
  }
  
  .footer .box-container .box h3{
    font-size: 2.5rem;
    color: var(--main);
    padding: 1rem 0;
  }
  
  .footer .box-container .box p{
    font-size: 1.5rem;
    line-height: 1.8;
    color: var(--branco);
    padding: 1rem 0;
  }
  
  .footer .box-container .box .links{
    display: block;
    font-size: 1.5rem;
    color: var(--branco);
    padding: 1rem 0;
  }
  
  .footer .box-container .box .links i{
    color: var(--main);
    padding-right: .5rem;
  }
  
  .footer .box-container .box .links:hover i{
    padding-right: 2rem;
  }
  
  .footer .box-container .box .days{
    margin-left: 2.2rem;
    line-height: .2;
  }
  
  .footer .box-container .box .email{
    width: 100%;
    margin: 2.7rem 0px;
    padding: 1rem;
    border-radius: .5rem;
    background: var(--branco);
    font-size: 1.6rem;
    color: var(--black);
    text-transform: none;
  }
  
  .footer .box-container .box .share a{
    height: 3rem;
    width: 3rem;
    line-height: 3rem;
    color: var(--preto);
    background: var(--branco);
    font-size: 1.2rem;
    border-radius: 5rem;
    margin-right: .8rem;
    text-align: center;
    margin-top: 1.4rem;
  }
  
  .footer .box-container .box .share a:hover{
    background: var(--main);
  }
  
  .footer .credit{
    font-size: 2rem;
    text-align: center;
    margin-top: 2rem;
    padding-top: 2.5rem;
    color: var(--branco);
    border-top: .2rem solid rgba(0, 0, 0, 0.2);
  }
  
  .footer .credit .link{
    color: var(--main);
  }





